# venv
venv/

# python cache files
__pycache__/

# obisidan notes
.obsidian/

# scripts
activate.sh

# log
log.txt

# build
*.spec
*.exe
build/
dist/

# http responses
*.html
*.json

# videos
*.mp4

# audio
*.mp3
*.wav
*.m4a

# posts
src/*.md

# speech recognition model
model/

# creds
creds.txt
